.homeWrapper {}

.categoryWrapper {
    display: flex;
    flex-direction: column;
}

.categoryTitle {
    flex: 1 1 auto;
    margin: 25px 15px 10px;
}

.movieWrapper {
    display: flex;
    flex-wrap: wrap;
}

.movieBody {
    margin: 15px;
    flex: 1 1 auto;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.moviePopover {
    background-color: #f7f2d4;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    position: fixed;
    display: flex;
    overflow: auto;
}

.popoverBody {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popoverFooter {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.footerButton {
    height: 30px;
    background-color: #5a18c9;
    color:#f7f2d4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.favoritesHeart {
    margin-right: 10px;
    color: skyblue;
    font-size: 18px;
}

.ft18 {
    font-size: 18px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}

.popoverWrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.closePopover {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.posterWrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.moviePoster {
    flex: 0 0 auto;
}

.favoritesButton {
    position: absolute;
    color: skyblue;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.movieTitle {
    flex-wrap: wrap;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.movieRatingIcon {
    color: #ffd801;
}

.trailerLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f2d4;
    text-decoration: none;
}

@media only screen and (max-width: 999px) {
    .popoverWrapper {
        padding: 0;
    }

    .posterWrapper {
        margin: 25px 10px 0;
    }

    .popoverBody {
        margin: 25px 15px;
    }

    .popoverFooter {
        margin: 0 15px 15px;
    }
}